streamlit
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
nltk
scikit-learn
pdfplumber
plotly
pandas
fpdf2
wordcloud
matplotlib
pytesseract
pdf2image
Pillow
google-generativeai
supabase
streamlit-authenticator
